body > div {
    width: 340px;
}

.title {
    font-size: 250%;
}

.row {
    flex-direction: row;
    justify-content: space-around;
}

.row > img {
    height: 6vh;
    width: 6vh;
    margin: 1vh;
}

.row > * {
    width: inherit;
}

#mute {
    background-color: #AA6666;
}

#unmute {
    background-color: #66AA66;
}

#preset-queue, #library-list {
    justify-content: stretch;
    overflow-y: -moz-scrollbars-none;
    overflow-y: auto;
    min-height: 70vh;
    max-height: 70vh;
}

#preset-queue > div {
    background-color: #ddddee;
    border-radius: 1vh;
    border-color: transparent;
    flex-direction: row;
    justify-content: space-around;
    height: 9vh;
    margin: 0.5vh;
}

#preset-queue > div > * {
    width: 100%;
}

#preset-queue > div > p {
    font-size: 150%;
    line-height: 7vh;
    height: 7vh;
}

#preset-queue::-webkit-scrollbar, #library-list::-webkit-scrollbar {
    width: 0;
}